/* General Styles */
body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f8f8;
    color: #f8f8f8;
}


header {
    position: relative;
    height: 500px;
    background: url('Images/IMG_6110_edited.jpg') no-repeat center center/cover;
    color: white;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-content {
    padding: 20px;
    border-radius: 10px;
    align-self: flex-start;
}

header h1 {
    margin: 0;
    font-family: 'Great Vibes', cursive;
    font-size: 100px;
    padding-top: 25%;
}

nav ul {
    list-style: none;
    padding: 0;
    background: #98a88674;
    border-radius: 2.5px;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}

section {
    padding: 2em;
    text-align: center;
}

#about {
    background-color: #dcbdae; /* Blush */
}

#details, #contact {
    background-color: #B2AC88;
}

#rsvp {
    background-color: #f8f8f8;
    color: #333
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

form label {
    margin: 10px 0 5px;
}

form input, form select {
    padding: 0.5em;
    margin-bottom: 1em;
    width: 200px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

form input[type="submit"] {
    background-color: #98a886; /* Sage */
    color: white;
    border: none;
    cursor: pointer;
}

form input[type="submit"]:hover {
    background-color: #7a8a69;
}

footer {
    background-color: #B2AC88;
    color: white;
    text-align: center;
    padding-bottom: 1em;
    padding-top: 0.5em;
    position: fixed;
    width: 100%;
    height: 5%;
    bottom: 0;
}

#accommodation {
    color:#333;
}

