/* General Styles */
body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f8f8;
    color: #333;
}


header {
    position: relative;
    height: 650px;
    background: url('Images/IMG_6110_edited.jpg') no-repeat center center/cover;
    color: white;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-content {
    padding: 20px;
    border-radius: 10px;
    align-self: flex-start;
}

header h1 {
    margin: 0;
    font-family: 'Great Vibes', cursive;
    font-size: 100px;
    padding-top: 25%;
}

.nav-bar {
    text-align: center;
    top: 0;
    padding: 5px 0;
    border-radius: 5px;
    margin-top: 5px;
    position:absolute;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}

#countdown {
    text-align: center;
    background-color: hsla(0, 0%, 100%, 0.433);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.time-unit {
    font-size: 2em;
    margin: 10px;
}
.label {
    font-size: 1em;
    color: #333;
}

section {
    padding: 2em;
    text-align: center;
}

#about {
    background-color: #dcbdae;/* Blush */
    font-family: 'Helvetica Neue', Arial, sans-serif;
}

.timeline {
    position: relative;
    max-width: 1200px;
    margin: 50px auto;
    padding: 0 10px;
}

.timeline::after {
    content: '';
    position: absolute;
    width: 6px;
    background-color: #f8f8f8;
    top: 0;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

.about-container {
    padding: 20px 40px;
    position: relative;
    background-color: inherit;
    width: 50%;
    box-sizing: border-box;
}

.about-container.left {
    left: 0; 
}

.about-container.right {
    left: 50%;
}

.about-container.left::before, 
.about-container.right::before {
    content: ' ';
    position: absolute;
    width: 25px;
    height: 25px;
    background-color: white;
    border: 4px solid #333;
    top: 15px;
    border-radius: 50%;
    z-index: 1;
}

.about-container.left::before {
    right: -17px;
}

.about-container.right::before {
    left: -17px;
}

.about-container.left .about-content {
    padding: 20px 30px;
    background-color: #f8f8f8;
    position: relative;
    border-radius: 6px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    margin-left: 60px;
}

.about-container.right .about-content {
    padding: 20px 30px;
    background-color: white;
    position: relative;
    border-radius: 6px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    margin-right: 60px;
}

.about-content h2 {
    margin-top: 0;
    color: #333;
    font-size: 1.5em;
    margin-bottom: 10px;
}

.about-content p {
    margin: 0;
    color: #666;
    font-size: 1em;
}

@media screen and (max-width: 600px) {
    .timeline::after {
        left: 31px;
    }

    .about-container {
        width: 100%;
        padding-left: 70px;
        padding-right: 25px;
    }

    .about-container::before {
        left: 60px;
    }

    .about-container.right {
        left: 0%;
    }

    .about-container.left .about-content,
    .about-container.right .about-content {
        margin-left: 0;
        margin-right: 0;
    }
}

#details, #contact {
    background-color: #B2AC88;
}

#rsvp {
    background-color: #f8f8f8;
    color: #333
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

form label {
    margin: 10px 0 5px;
}

form input, form select {
    padding: 0.5em;
    margin-bottom: 1em;
    width: 200px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

form input[type="submit"] {
    background-color: #98a886; /* Sage */
    color: white;
    border: none;
    cursor: pointer;
}

form input[type="submit"]:hover {
    background-color: #7a8a69;
}

footer {
    background-color: #B2AC88;
    color: white;
    text-align: center;
    padding-bottom: 1em;
    padding-top: 0.5em;
    width: 100%;
    height: 5%;
    bottom: 0;
}

#accommodation {
    color:#333;
}

